<form action="" method="POST" enctype="multipart/form-data">
<div class="form_block">
Названия <input type="text" name="name"/>
</div>
<div class="form_block">
<div>Id товара</div> <input type="text" name="item_id"/>
</div>
<div class="form_block">
<div>Описания</div> <textarea name="text" id="area1"></textarea>
</div>
<div class="form_block">
<div>Цена</div> <input type="text" name="sum"/>
</div>
<div class="form_block">
<div>Картинка (Только png)</div> <input type="file" name="img"/>
</div>
<div class="form_block">
Категория <select name="category">{category}</select>
</div>
<div class="form_block">
Сервер <select name="server">{servers}</select>
</div>
<div class="form_block">
<input class="draft" type="submit" value="Добавить" name="submit"/>
</div>
</form>