<form action="" method="POST">
<div class="form_block">
Названия <input type="text" name="name"/>
</div>
<div class="form_block">
Описания <textarea name="text" id="area1"></textarea>
</div>
<div class="form_block">
<div>Цена</div> <input type="text" name="sum"/>
</div>
<div class="form_block">
<div>Группы в permissions</div> <input type="text" name="groupperm"/>
</div>
<div class="form_block">
<div>Разрешить бесплтано загружать скины</div> <select name="upload_skin"><option value="1">Да</option><option value="0">Нет</option></select>
</div>
<div class="form_block">
<div>Разрешить бесплтано загружать hd скины</div> <select name="upload_hd_skin"><option value="1">Да</option><option value="0">Нет</option></select>
</div>
<div class="form_block">
<div>Разрешить бесплатно загружать плащи</div> <select name="upload_cloak"><option value="1">Да</option><option value="0">Нет</option></select>
</div>
<div class="form_block">
<div>Сервер</div> <select name="server">{servers}</select>
</div>
<div class="form_block">
<input class="draft" type="submit" value="Добавить" name="submit"/>
</div>
</form>