<form action="" method="POST">
<div class="form_block">
Названия <input type="text" name="name"/>
</div>
<div class="form_block">
<div>Таблица групп</div> <input type="text" name="table_groups" value="рermissions_inheritance_"/>
</div>
<div class="form_block">
<div>Таблица магазина</div> <input type="text" name="table_shop" value="shop_server_"/>
</div>
<div class="form_block">
<div>Таблица iconomy</div> <input type="text" name="table_iconomy" value="iconomy_"/>
</div>
<div class="form_block">
<div>Порядок</div> <input type="text" name="list"/>
</div>
<div class="form_block">
<input class="draft" type="submit" value="Добавить" name="submit"/>
</div>
</form>