<form action="" method="POST">
	<div class="form_block">
	<div>Названия</div> <input type="text" name="name" value="{name}"/>
	</div>
	<div class="form_block">
	<div>Id товара</div> <input type="text" name="item_id" value="{item_id}"/>
	</div>
	<div class="form_block">
	<div>Описания</div> <textarea name="text" id="area1">{text}</textarea>
	</div>
	<div class="form_block">
	<div>Изображения </div> <input type="text" name="img" value="{img}"/>
	</div>
	<div class="form_block">
	<div>Количество</div> <input type="text" name="kol-vo" value="{kol-vo}"/>
	</div>
	<div class="form_block">
	<div>Стартовая цена</div> <input type="text" name="start_sum" value="{start_sum}"/>
	</div>
	<div class="form_block">
	<div>Шаг аукциона</div> <input type="text" name="step" value="{step}"/>
	</div>
	<div class="form_block">
	<div>Время аукциона (В минутах, 1440 минут - 24 часа)</div> <input type="text" name="date" value="{date}"/>
	</div>
	<div class="form_block">
	<div>Сервер</div> <select name="server">{servers}</select>
	</div>
	<div class="form_block">
	<input class="draft" type="submit" value="Изменить" name="submit"/>
	</div>
	</form>