<form action="" method="POST">
<div class="form_block">
Названия <input type="text" name="name" value="{name}"/>
</div>
<div class="form_block">
<div>Таблица групп</div> <input type="text" name="table_groups" value="{table_groups}"/>
</div>
<div class="form_block">
<div>Таблица магазина</div> <input type="text" name="table_shop" value="{table_shop}"/>
</div>
<div class="form_block">
<div>Таблица iconomy</div> <input type="text" name="table_iconomy" value="{table_iconomy}"/>
</div>
<div class="form_block">
<div>Порядок</div> <input type="text" name="list" value="{list}"/>
</div>
<div class="form_block">
<input class="draft" type="submit" value="Изменить" name="submit"/>
</div>
</form>