<form action="" method="POST">
<div class="form_block">
Названия <input type="text" name="name" value="{name}"/>
</div>
<div class="form_block">
<div>Id товара</div> <input type="text" name="item_id" value="{item_id}"/>
</div>
<div class="form_block">
<div>Описания</div> <textarea name="text" id="area1">{text}</textarea>
</div>
<div class="form_block">
<div>Цена</div> <input type="text" name="sum" value="{sum}"/>
</div>
<div class="form_block">
<div>Картинка</div> <input type="text" name="img" value="{img}"/>
</div>
<div class="form_block">
Категория <select name="category">{category}</select>
</div>
<div class="form_block">
<div>Сервер</div> <select name="server">{servers}</select>
</div>
<div class="form_block">
<input class="draft" type="submit" value="Изменить" name="submit"/>
</div>
</form>