<div class="title_lk">{title}</div>
<div style="float:left;width:560px;">
<table style="width:100%;">
<tbody>
<tr>
<th>Названия</th>
<th>Тект</th>
<th>Сумма</th>
<th>Дата</th>
</tr>
</tbody>
{history}
</table>
</div>

<div style="float:left;border-left:1px solid #ccc;width:200px;text-align:center;">
	Сортировать<br/>
	<a href="#" {type_money}>Зачесления денег</a><br/>
	<a href="#" {type_shop}>Покупка в магазине</a><br/>
	<a href="#" {type_groups}>Покупка групп</a><br/>
	<a href="#" {type_d}>Другое</a><br/>
	<a href="#" {type_all}>Всё</a><br/>
</div>

<div class="clear"></div>

{navigation}