
<link rel="stylesheet" href="{theme}/css/style.css" />

<div id="main_lk">

<div id="menu_lk">
	<a href="#" {home_link}>Главная</a>
	<a href="#" {upload_link}>Сменить скин/плащ</a>
	<a href="#" {groups_link}>Группы</a>
	<a href="#" {shop_link}>Магазин предметов</a>
	<!--<a href="#" {auction_link}>Аукцион</a> -->
	<a href="#" {history_link}>История операций</a>
	<a href="#" {varia_link}>Обмен валюты</a>
</div>

<!-- Названия (id) не менять -->
<div id="error_lk"></div>
<div id="error_lk_ok"></div>
<div id="servers_lk">{servers}</div>

<div id="content_lk"></div>

<!-- Названия (id) не менять -->

</div>

{ajax}