
<div class="title_lk">{title}</div>

<form action="" method="POST" enctype="multipart/form-data">
<div class="title_upload">Загрузка скина</div>
<div class="text_upload">
Возможно загружать только файлы 64x32 или 1024x512 в формате .png. <br/>
Стоимость: {sum_skin} руб <br/>
</div>
<input type="file" name="file"/>
<input type="submit" name="submit_upload" value="Загрузить" id="SubmitLk"/>
</form>
<div style="margin-bottom:5px;"></div>

<form action="" method="POST" enctype="multipart/form-data">
<div class="title_upload">Загрузка плаща</div>
<div class="text_upload">
Возможно загружать только файлы 22x17 .png. <br/>
Стоимость: {sum_cloak} руб<br/>
</div>
<input type="file" name="file"/>
<input type="submit" name="submit_upload" value="Загрузить" id="SubmitLk"/>
</form>